venv/
.VENV/
*.venv
*.virtualenv
*.idea/
*.pycharm/
.idea/
*.swp
*~
*.sqlite3
db.sqlite3
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.bak
*.tmp
.coverage
*.coverage.*
*.env
*.pem
*.log
*.pot
*.pyc
*.pid
*.pid.lock
.DS_Store
Thumbs.db
*assets
*static
*media
